<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Password</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/member/mypage/checkpw.css">
</head>
<body>

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}"></th:block>


    <main>
        






    </main>   


     <!-- 푸터 -->
     <th:block th:replace="~{common/footer}"></th:block>
    
</body>
</html>