<div id="commentArea">

    <th:block th:if="${session.loginMember}">
        <div id="id-addCommentArea">
            <span th:text="${session.loginMember?.memberId}">아이디</span>
            <button id="addComment" >등록</button>
        </div>
        <textarea rows="10" placeholder="다른 사람에게 불쾌감을 주는 욕설, 혐오, 비하의 표현이나 타인의 권리를 침해하는 내용은 주의해주세요."></textarea>
    </th:block>

        


    <div class="commentListArea">
        <ul id="commentList">
            <li th:text="|전체 댓글 ${board.commentList.size}개|"></li>

            <li th:each="comment : ${board.commentList}"
                th:classappend="${comment.parentCommentNo} != 0 ?childComment"
                th:object="${comment}">
                
                <th:block th:if="*{commentDelFl}=='Y'">
                    삭제된 댓글입니다.
                </th:block>
                 
                <th:block th:if="*{commentDelFl}=='N'">
                    
                    <div class = "commentWrite">
                        <div>
                            <span th:text="*{memberId}">아이디</span>
                            <span th:text="*{commentWriteDate}">작성일</span>
                        </div>
                         
                        <img src="/images/addMore.png" class="editBtn">
                        <div class="editArea" style="display: none;">
                            <button th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>
                            
                            <th:block th:if="${session.loginMember != null and session.loginMember?.memberNo == comment.memberNo}">
                                <button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>
                                <button th:onclick="|deleteComment(*{commentNo})|">삭제</button>
                            </th:block>
                        </div>
                        
                    </div>
                    
                    <p class="commentContent" th:text="*{commentContent}">댓글 내용</p>
                
                
                </th:block>
                
            </li>
        </ul>
    </div>

</div>


