<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymepeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEBEGBOO 메인페이지</title>


    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <!-- 메인 배너 -->
        <div id="main-banner"></div>

        <div id="stick"><span>|</span></div>

        <!-- 중간 배너 -->
        <div class="middle-banner"></div>

        <!-- 임신 사진 -->
        <div id="pregnent">
            <div></div>
        </div>

        <!-- 중간 배너 2-->
        <div class="middle-banner" id="confirm-button">
            <div></div>
            <div><button>인증 페이지로 이동</button></div>
            <div></div>
        </div>

        <!-- 기부하는 방법 글씨-->
        <div></div>

        <!-- 기부하는 방법 순서 블럭 -->
        <div></div>


        <!-- 기부하는 방법 : 1 -->
        <div></div>

        <!-- 기부하는 방법 : 2 -->
        <div></div>

        <!-- 기부하는 방법 : 3 -->
        <div></div>

        <!-- 기부하는 방법 : 4 -->
        <div></div>
        

        <!-- 게시판 이동 -->
        <div>
            <div>게시판 이동</div>
            <div><button>FAQ 게시판</button></div>
            <div>후기인증 게시판</div>
        </div>

    </main>

    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>