<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
    <main>

        <th:block th:replace="~{common/header}"></th:block>

            <form action="member/signup" method="POST" name="signUpForm" id="signUpForm">

                <section class="signUp-info">

                    <label for="memberId">
                        <span class="required"></span> 아이디 
                    </label>

                    <div class="signUp-input">
                        <input type="text" name="memberId" id="memberId"
                            placeholder="아이디" maxlength="30" autocomplete="off">

                        <button id="checkDuplicateBtn" type="button">중복확인</button>    
                    </div>

                    <span class="signUp-message" id="idMessage">영어, 숫자, 특수문자(-,_) 6~10글자 이내로 입력해주세요.</span>


                    <label for="memberPw">
                        <span class="required"></span> 비밀번호 
                    </label>
                    <div class="signUp-input">
                        <input type="password" name="memberPw" id="memberPw"
                            placeholder="비밀번호" maxlength="20">
                    </div>
                    <div class="signUp-input">
                        <input type="password" name="memberPwConfirm" id="memberPwConfirm"
                                placeholder="비밀번호 확인" maxlength="20">
                    </div>
                    <span class="signUp-message" id="pwMessage">영어, 숫자, 특수문자(-,_)8~12글자 이내로 입력해주세요.</span>

                    <label for="memberName">
                        <span class="required"></span> 이름
                    </label>
                    
                    <div class="signUp-input">
                        <input type="text" name="memberName" id="memberName"
                            placeholder="이름" maxlength="20">
                    </div> 
                    <span class="signUp-message" id="nameMessage">한글, 영어로만 입력 가능합니다.</span>

                    <label for="memberBirth">
                        <span class="required"></span> 생년월일
                    </label>
                    <div class="signUp-input">
                        <input type="text" name="memberBirth" id="memberBirth"
                                placeholder="생년월일" maxlength="20">         
                    </div>
                    <span class="signUp-message" id="birthMessage">생년월일 8자리 '-' 없이 입력해주세요</span>

                    <label for="phone">
                        <span class="required"></span> 핸드폰번호                    
                    </label>

                    <div class="signUp-input">
                        <input type="text" name="phone" id="phone"
                            placeholder="핸드폰번호" maxlength="20">
                    </div>
                    <span class="signUp-message" id="phoneMessage">핸드폰번호만 입력해주세요</span>

                 </section>

                 <section class="signUp-email">

                    <label for="memberEmail">
                        <span class="required"></span>이메일
                    </label>
                    <div class="signUp-input">
                        <input type="text" name="memberEmail" id="memberEmail"
                        placeholder="이메일" maxlength="30">
                    </div>
                    <span class="signUp-message" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span>

                    <label for="emailCheck">
                        <span class="required"></span>인증번호 
                    </label>
                    <div class="signUp-input">
                        <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력"
                            maxlength="6" autocomplete="off">

                        <button id="checkAuthKeyBtn">인증하기</button>

                    </div>
                    <span class="signUp-message" id="authKeyMessage"></span>

                 </section>

                 <section class="signup-address">
                    <label for="address">주소</label>
                 </section>
               
            </form>


       


    </main>

    <th:block th:replace="~{common/footer}"></th:block>
    
</body>
</html>