@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 폼 전체 */
.signUp-content{
    margin-top: 300px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    height: auto;
}

/* 첫번째 폼 */
.signUp-info{
  box-sizing: border-box;
  padding: 30px;
  background: #FFFFFF;
  border: 2px solid #AFAFAF;
  width: 800px;
}

/* 이메일 폼 */
.signUp-email{
  margin-top: 80px;
  box-sizing: border-box;
  padding: 30px;
  background: #FFFFFF;
  border: 2px solid #AFAFAF;
  width: 800px;
}

/* 주소 폼 */
.signUp-address{
  width: 800px;
  margin-top: 80px;
  box-sizing: border-box;
  padding: 30px;
  background: #FFFFFF;
  border: 2px solid #AFAFAF;
}

/* input */
.signUp-input {
  width: 300px;
  height: 25px;

  margin-bottom: 7px;

  font-size: 14px;
  font-weight: bold;

  border : 1px solid #AFAFAF;
  outline: none;
}

/* 폼 내 버튼 */
.signUp-content button{
  width: 80px;
  height: 30px;
  font-weight: bold;
  color: #6987C9;
  background-color: white;
  border: 1.5px solid #6987C9;
  border-radius: 10px;
  cursor: pointer;
}

/*회원가입 버튼*/
#signUpBtn{

  margin-top: 150px;
  margin-left: 180px;

  width: 450px;
  height: 60px;

  font-size: 20px;
  background-color: #E5EDF8;

  border: none;
  border-radius: 0%;

}


/* 아이디/비밀번호/등 이름용 클래스*/
.sectionName {
  width: 200px;
}

/* 우편번호 input */
#postcode {
  width: 150px;
  height: 25px;

  margin-bottom: 7px;

  font-size: 14px;
  font-weight: bold;

  border : 1px solid #AFAFAF;
  outline: none;
}

/* 주소, 상세주소 input */
#mainAddress, #detailAddress{
  width: 380px;
  height: 25px;

  margin-left: 155px;
  margin-bottom: 7px;

  font-size: 14px;
  font-weight: bold;

  border : 1px solid #AFAFAF;
  outline: none;
}

#postcode {
  margin-left: 96px;
}




