<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/BeBeGiBoo/src/main/resources/static/css/member/login_inquiry/login.css">
</head>
<body>
    <main>
        <div id="font-logo-area">
            <a href="#" id="font-logo">
                <img  src="/BeBeGiBoo/src/main/resources/static/images/font-logo.png" alt="font-logo">
            </a>
        </div>

        <div>
            <h4 id = "legend-name">로그인</h4>
        </div>
        <div>
            <form>
                <fieldset>
                    <section id = "login-input">
                        아이디 
                        <input type="text" id="login-id">
                        비밀번호
                        <input type="password" id="login-pw">
                    </section>
                    <label>
                        <input type="checkbox" name="saveId" id = "saveId"> 아이디 기억하기
                    </label>
    
                    <section>
                        <button>로그인</button>
                    </section>
                </fieldset>

                <article class="signup-find-area">
                    <a href="/member/signup">회원가입</a>
                    <span>|</span>
                    <a href="#">아이디 찾기</a>
                    <a href="#">비밀번호 찾기</a>"
                </article>
            </form>
        </div>
    </main>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>