<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bebegiboo.project.review.model.mapper.CommentMapper">

	<insert id = "insert">
		INSERT INTO "COMMENT" VALUES
		(SEQ_COMMENT_NO.NEXTVAL, #{CommentContent}, DEFAULT, DEFAULT, #{boardNo}, #{memberNo},
		<if test = "parentCommentNo != o">
			#{parentCommentNo}
		</if>
		
		<if test = "parentCommentNo == 0">
			NULL
		</if>
		)
	</insert>

	<delete id="delete">
		UPDATE "COMMENT"
		SET COMMENT_DEL_FL = 'Y'
		WHERE COMMENT_NO = #{commentNo}
	</delete>
	
	<update id="update">
		UPDATE "COMMENT"
		SET COMMENT_CONTENT = #{commentContent} 
		WHERE COMMENT_NO = #{commentNo}
	</update>

</mapper>
