<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bebegiboo.project.donate.mapper.DonateMapper">

	<select id="findNo">
		SELECT MEMBER_NO
		FROM "MEMBER"
		WHERE MEMBER_ID = #{cookieValue}
	</select>


	<insert id="deliveryInfo">
		INSERT INTO DELIVERY_INFO
		VALUES(SEQ_DELIVERY_NO.NEXTVAL,
				#{name},
				#{phone},
				#{phone2},
				#{address},
				#{date},
				#{memo},
				#{memberNo})
	</insert>
	
	
	
	<insert id="dailyInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{dailyARR}, 1, 1, 1)
	</insert>
	
	<insert id="clothInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{clothARR}, 1, 2, 1)
	</insert>
	
	<insert id="dishInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{dishARR}, 1, 3, 1)
	</insert>
	
	<insert id="electronicInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{electronicARR}, 1, 4, 1)
	</insert>
	
	<insert id="toyInsert">
		INSERT INTO DONATION_PRODUCT
		VALUES(SEQ_DONATION_PRODUCT_NO.NEXTVAL, #{toyARR}, 1, 5, 1)
	</insert>

</mapper>
