<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bebegiboo.project.manager.mapper.ManagerMapper">

	<!-- 회원 목록 출력 -->
	<select id="selectMemberList">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME, TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE, EMAIL, ADDRESS, PHONE, MEMBER_DEL_FL, AUTHORITY
		FROM "MEMBER"
	</select>

	<update id="update">
		UPDATE "MEMBER" SET
		MEMBER_NAME = #{memberName},
		EMAIL = #{email},
		PHONE = #{phone},
		ADDRESS = #{address},
		MEMBER_DEL_FL = #{memberDelFl},
		AUTHORITY = #{authority}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	

</mapper>
