<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bebegiboo.project.review.model.mapper.ReviewMapper">

	<select id="getListCount">
		SELECT COUNT(*) FROM "CERTIFICATION_BOARD"
	</select>
	
	<select id="SelectReivewList">
		SELECT BOARD_NO, BOARD_TITLE, READ_COUNT, 
		(SELECT COUNT(*) FROM "COMMENT" c WHERE m.BOARD_NO=c.BOARD_NO) COMMENT_COUNT,
		<![CDATA[
		CASE
			WHEN SYSDATE - BOARD_WRITE_DATE <1 / 24 / 60-- 1분 전에 작성한 경우  
			THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60)|| '초 전' --하루를 초단위로 환산한 것
			
			WHEN SYSDATE - BOARD_WRITE_DATE <1 / 24 -- 1시간 전에 작성한 경우  
			THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 )|| '분 전' 
			
			WHEN SYSDATE - BOARD_WRITE_DATE <1 -- 하루 전에 작성한 경우  
			THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24)|| '시간 전' 		
			
			ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
		END BOARD_WRITE_DATE
		]]>
	
		FROM "CERTIFICATION_BOARD" m
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>


	<select id="getSearchCount">
	
		SELECT COUNT(*)
		FROM "CERTIFICATION_BOARD"
		<!-- 작성자 검색인 경우 -->
		<if test='key=="w"'>
			JOIN "MEMBER" USING(MEMBER_NO)
		</if>
		
		WHERE BOARD_DEL_FL = 'N'
		
		<!-- 검색 조건 -->
		<choose>
			<!-- 제목 검색인 경우-->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 내용 검색인 경우-->
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 제목+내용 검색인 경우 -->
			<when test='key == "tc"'>
				AND (BOARD_TITLE LIKE '%' || #{query} || '%'
					OR
					BOARD_CONTENT LIEK '%' || #{query}|| '%'
					)
			</when>
			
			<!-- 작성자 검색인 경우 -->
			<otherwise>
				AND MEMBER_ID LIKE '%' || #{query} || '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectSearchList">
		SELECT BOARD_NO, BOARD_TITLE, READ_COUNT, 
		(SELECT COUNT(*) FROM "COMMENT" c WHERE m.BOARD_NO=c.BOARD_NO) COMMENT_COUNT,
		<![CDATA[
		CASE
			WHEN SYSDATE - BOARD_WRITE_DATE <1 / 24 / 60-- 1분 전에 작성한 경우  
			THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60)|| '초 전' --하루를 초단위로 환산한 것
			
			WHEN SYSDATE - BOARD_WRITE_DATE <1 / 24 -- 1시간 전에 작성한 경우  
			THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 )|| '분 전' 
			
			WHEN SYSDATE - BOARD_WRITE_DATE <1 -- 하루 전에 작성한 경우  
			THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24)|| '시간 전' 		
			
			ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
		END BOARD_WRITE_DATE
		]]>
	
		FROM "CERTIFICATION_BOARD" m
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		
		<choose>
			<!-- 제목 검색인 경우 -->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 내용 검색인 경우 -->
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 제목+내용 검색인 경우 -->
			<when test='key == "tc"'>
				AND (BOARD_TITLE LIKE '%' || #{query} || '%'
					OR
					BOARD_CONTENT LIEK '%' || #{query}|| '%'
					)
			</when>
			
			<!-- 작성자 검색인 경우 -->
			<otherwise>
				AND MEMBER_ID LIKE '%' || #{query} || '%'
			</otherwise>			
			
		</choose>
		ORDER BY BOARD_NO DESC
	</select>
</mapper>
